body {
    /* margin-left: 5%; */
    /* margin-right: 5%; */
    /* display: flex; */
    /* justify-content: center; */
    /* flex-direction: column; */
    margin: 0;
}
.parentBox:before, .parentBox:after {
    content: " ";
    display: table;
}

.parentBox:after{
    clear: both;
}


.topHeader {
    padding: 20px;
    background-color: rgb(64, 64, 64);
    font-family: 'Roboto', sans-serif;
    font-size: .65em;
    
}
#headerName {
    color: rgb(220, 220, 220);
    margin: 2px;
}


#headerInfo{
    color: rgb(166, 166, 166);
    font-size: 1.2em;
    /* margin-top: 1px; */
}
.innerBody{
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    margin-left: 2em;
    margin-right: 2em;
}
.date {
    color: rgb(200, 200, 200);
    font-family: 'Droid Sans', sans-serif;
    font-size: .8em;
    margin-top: 20px;
    margin-bottom: 20px;
}

.articleTitle {
    margin-top: 4px;
    color: rgb(64,64,64);
    font-family: 'Droid Sans', sans-serif;
    font-size: 1.45em;
    font-weight: 700;
}

.articleContent {
    color: rgb(184,184,184);
    font-family: 'Droid Sans', sans-serif; 
}